.btn {
  background-color: rgb(38, 38, 235);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 100px;
  text-align: center;
}

.wrapper {
  /* background-color: red; */
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.latest {
  text-align: center;
  background-color: rgb(104, 237, 104);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.wrapper p {
  font-size: 18px;
  font-weight: bold;
}
